<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Générateur de Vidéos</title>
</head>
<body>
  <h1>Résultat</h1>
  <video style="max-width: 200px;" controls playsinline src="output.mp4"></video>
</body>
</html>
